# Ignore node_modules directory
node_modules/

# Ignore environment files
*.env

# Ignore server-specific files
/server/node_modules/
/server/.env

# Ignore frontend-specific files
/frontend/node_modules/
/frontend/.env